<!DOCTYPE html>
<html lang="ja">
{{ partial "head.html" . }}

<body>

	<h1>{{ .Site.Params.Name }}</h1>
	<div>{{ .Site.Params.About| markdownify }}</div>

	<h2>活動など</h2>
	<div>{{ .Content }}</div>

	<table>
		{{ range .Site.Params.profiles }}
		{{ partial "profile_link.html" . }}
		{{ end }}
		<tr>
			{{ if ne .Site.Params.Resume "" }}
			<td><i class="fas fa-file-alt" aria-hidden="true"></i></td>
			<td class="iconed-link-margin"><a href="/resume/{{ .Site.Params.Resume }}" target="_blank">Resume</a></td>
			{{ end }}
		</tr>
		<tr>
			{{ if ne .Site.Params.Email "" }}
			<td><i class="fas fa-envelope" aria-hidden="true"></i></td>
			<td class="iconed-link-margin"><code>{{ .Site.Params.Email }}</code></td>
			{{ end }}
		</tr>
	</table>
	<h2>技術メモ</h2>
	<table>
		<tr>
			<td><img src="/assets/img/icons/zenn.svg" width="18" height="18" style="vertical-align: middle;" alt="Zenn logo"></td>
			<td class="iconed-link-margin"><a href="https://zenn.dev/niccari" target="_blank">Zenn</a></td>
		</tr>
		<tr>
			<td><img src="/assets/img/icons/qiita.png" width="18" height="18" style="vertical-align: middle;" alt="Qiita logo"></td>
			<td class="iconed-link-margin"><a href="https://qiita.com/niccari" target="_blank">Qiita</a></td>
		</tr>
	</table>
	<h2>作ったもの</h2>
	<table>
		<tr>
			<td class="service-icon-container"><img srcset="/nawatai/logo.svg, /nawatai/logo.png" width="32" height="32" alt="Nawatai service logo"></td>
			<td class="iconed-link-margin"><a href="https://nawatai-poc.vercel.app/">Nawatai: 個人向け名付けブレストサービス(α版)</a></td>
		</tr>
		<tr>
			<td class="service-icon-container"><img src="/private-markdown-writer/icons/Icon-192.png" width="32" height="32" alt="private-markdown-writer icon"></td>
			<td class="iconed-link-margin"><a href="/private-markdown-writer">個人用Markdownメモアプリ</a></td>
		</tr>
		<tr>
			<td class="service-icon-container"><img src="/vott-replace-paths/assets/favicon.17e50649.svg" width="32" height="32" alt="vott-replace-paths logo"></td>
			<td class="iconed-link-margin"><a href="/vott-replace-paths">VoTTプロジェクトファイル 保存パス変更ツール</a></td>
		</tr>
		<tr>
			<td class="service-icon-container"><i><img src="/dgraph/favicon.ico" width="32" height="32" alt="dgraph logo"></i></td>
			<td class="iconed-link-margin"><a href="/dgraph">任意図形描画ツール</a></td>
		</tr>
		<tr>
			<td class="service-icon-container"><i><img src="/wwamap/favicon.ico" width="32" height="32" alt="wwamap logo"></i></td>
			<td class="iconed-link-margin"><a href="/wwamap">WWAゲーム マップ画像作成ツール</a></td>
		</tr>
		<tr>
			<td class="service-icon-container"><i><img src="/fv/assets/favicon.5b29c647.ico" width="32" height="32" alt="Fractal Visualizer's logo"></i></td>
			<td class="iconed-link-margin"><a href="/fv">Fractal Visualizer for Web</a></td>
		</tr>
	</table>

	<h2>過去記事</h2>

	<div>

		<!-- Descend orders content according to the "publishdate" field in front matter -->
		{{ range first (.Site.Params.PostLimit | default 4) (where .Site.RegularPages.ByPublishDate "Section" "posts").Reverse }}
		<div>
			<a href="{{ .Permalink }}">{{ .Title }}</a><br />
			<time>{{ .Date.Format "2006年1月2日" }}</time>
		</div>
		<br />
		{{ end }}


		<div><a href="posts/">過去記事をもっと見る</a></div>
	</div>
	{{ if ne .Site.Params.GoatCounterCode "" }}
	<script data-goatcounter="{{ .Site.Params.GoatCounterCode }}" async src="//gc.zgo.at/count.js"></script>
	{{ end }}
</body>

</html>
