<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body>

	<h1>{{ .Site.Params.Name }}</h1>
	<h4>{{ .Site.Params.About| markdownify }}</h4>

	<div>{{ .Content }}</div>

	<table>
		{{ range .Site.Params.profiles }}
		{{ partial "profile_link.html" . }}
		{{ end }}
		<tr>
			{{ if ne .Site.Params.Resume "" }}
			<td><i class="fas fa-file-alt" aria-hidden="true"></i></td>
			<td>&nbsp;<a href="/resume/{{ .Site.Params.Resume }}" target="_blank">Resume</a></td>
			{{ end }}
		</tr>
		<tr>
			{{ if ne .Site.Params.Email "" }}
			<td><i class="fas fa-envelope" aria-hidden="true"></i></td>
			<td>&nbsp;<code>{{ .Site.Params.Email }}</code></td>
			{{ end }}
		</tr>
	</table>

	<h3>works</h3>

	<div>
		<div>(2022.05.08) New!→<a href="/private-markdown-writer">個人用Markdownメモアプリ</a></div>
		<div><a href="https://www.niccari.net/vott-replace-paths">VoTTプロジェクトファイル 保存パス変更ツール</a></div>

		<div><a href="/d6t_viewer">D6T MEMSセンサ データ可視化ソフト</a></div>
		<div><a href="/dgraph">任意図形描画ツール</a></div>
		<div><a href="/wwamap">WWAゲーム マップ画像作成ツール</a></div>
		<div><a href="/fv">Fractal Visualizer for Web</a></div>
	</div>

	<h3>Posts</h3>

	<div>

		<!-- Descend orders content according to the "publishdate" field in front matter -->
		{{ range first (.Site.Params.PostLimit | default 4) (where .Site.RegularPages.ByPublishDate "Section" "posts").Reverse }}
		<div>
			<a href="{{ .Permalink }}">{{ .Title }}</a><br />
			<time>{{ .Date.Format "January 2, 2006" }}</time>
		</div>
		<br />
		{{ end }}


		<h3><a href="posts/">View all posts</a></h3>
	</div>
	{{ if ne .Site.Params.GoatCounterCode "" }}
	<script data-goatcounter="{{ .Site.Params.GoatCounterCode }}" async src="//gc.zgo.at/count.js"></script>
	{{ end }}
</body>

</html>
